/* CSS for EvaluationSurveyXBlock */

.evaluation_survey_block .count {
    font-weight: bold;
}

.evaluation_survey_block p {
    cursor: pointer;
}

.evaluation_survey_block .d-none {
    display: none;
}
